
body{
     background: black;
    color: white;
    font-family: medium;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

#intro{
  font-size: 25px;
  width: 780px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{ 
    font-size: 25px;
    font-family: monospace ;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

#produtos{
   border: 2px solid  #7A237A;
    padding: 10px;
    border-radius: 15px;
  
}

a:hover{
    color: #7A237A;
    transition: 0.3s all;

}

#inscreva-se-btn{
    border: 2px solid  #7A237A;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #7A237A;
    color: white;
}

h1{
    font-weight: 200;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 85px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 85px);
  margin-block-start: -60px;
}

.left-side{
  display: flex;
  flex-direction: column;
}

.item{
  align-self: flex-end;
}

.select-image{
  max-width: 1000px;
}

.select-image img{
  width:500px;
  border-radius:10px;
  margin-block-start: 250px;
}

.thumbnails{
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  gap: 10px;
}

.thumbnall img{
  width: ;
  border-radius: 10px;
}

.right-side{
  width:100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.content{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.right-side h6{
  color:white;
  font-size: 45px;
  text-transform: uppercase;
  margin-block-end: 10px;
  margin-block-start: 400px;
  
}

.right-side p{
  color:white;
  font-size: 25px;
  padding-top: 5px;
}

.prices{
  display:flex;
  flex-direction: column;
}

.price{
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin-top: 25px;
  margin-bottom: 50px;
}

.off{
  font-size: 12px;
  color:#ccc;
}

form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
        width: 250px;
        height: 60px;
        font-family: medium;
        font-size: 18px;
        font-weight: 600;
        background-color: purple;
        color: white;
        border-radius: 20px;
        margin-right: 40px;
    }

a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

#Compras{
    align-self: center;
    font-family: medium;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid  #7A237A;
    padding: 10px;
    border-radius: 15px;
}

#Compras:hover{
    background-color: #7A237A;
    color: white;
}

#Infos{
    align-self: center;
    font-family: medium;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid  #7A237A;
    padding: 10px;
    border-radius: 15px;
}

#Infos:hover{
    background-color: #7A237A;
    color: white;
}

